body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #922121;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
}

li:hover {
    color: #922121;
}

